.card-body {
  overflow-x: auto;
}

// ScheduleEquipment
.hover-div ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  height: 325px !important;
}

.hover-div li {
  float: left !important;
}

.hover-div li a {
  position: relative !important;
  display: block !important;
  color: #fff !important;
  text-align: left !important;
  padding: 4px 6px !important;
  text-decoration: none !important;
  z-index: 0 !important;
  margin: 0px 0px 0px -30px;
  cursor: pointer;
}
