.section-four {
  height: 540px;
  background-color: $kuning;
  width: 100%;
}
.wrapper-putih-s4 {
  background-color: white;
  z-index: 1;
  position: absolute;
  right: 0px;
  height: 83vh;
  width: 94vw;
  margin-top: 8vh;
}

@media (min-width: 1025px) {
  .wrapper-putih-s4 {
    background-color: white;
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 49vh;
    width: 94vw;
    margin-top: 3.5vh;
  }
}

@media (max-width: 768px) {
  .wrapper-putih-s4 {
    background-color: white;
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 72vh;
    width: 94vw;
    margin-top: 3vh;
  }
}
@media (min-width: 801px) and (max-width: 1366px) {
  .wrapper-putih-s4 {
    background-color: white;
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 64vh;
    width: 94vw;
    margin-top: 3vh;
  }
}
.wrapper-features {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-left: 6rem;
  margin-top: -2rem;
}

.line-left-s4 {
  border-bottom: 3px solid $hitam;
  z-index: 2;
  margin: 3.5rem 57vw 2rem 8vw;
}
.footer-card-s4 {
  width: 13vw;
}
.icon-s4 {
  width: 65px;
  margin: 1rem 0 0 1rem;
}
