@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap';

$jost: 'Jost', sans-serif;
$hitam: #141527;
$hitam-tua: #090a14;
$hitam02: #0f1337;
$hitam01: #4e4e4e;
$abu: #f1f1f1;
$kuning: #fff500;
$putih: #fff;
$biru: #4ba7fc;
