// Here you can add other styles
.simplebar-mask {
  background-color: #fff500 !important;
}
.sidebar-nav {
  background-color: #fff500 !important;
}
.sidebar-toggler {
  background-color: #fff500 !important;
}
.nav-icon {
  color: black !important;
}
ul li {
  color: #141527 !important;
}
ul li a {
  color: #141527 !important;
}
.sidebar-brand {
  background-color: #e6e27c !important;
}
.disabled-cursor {
  cursor: default;
}
.breadcrumb {
  font-size: small;
}
.breadcrumb-item a {
  text-decoration: none;
}
